body {
    margin: 0;
    background: #d2c5b8; //blanchedalmond
}

header {
    background-color: #f6901e  ; //darkgoldenrod
    color: white;
    padding: 3rem 2rem;
}


header h1 {
    font-size: 4rem;
    text-align: center;
    color: whitesmoke;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.cont{
    width: 500px;
    margin: 0 auto;
    color: whitesmoke;
}

section {
    transition: all 0.3s ease;
    background-color:  #3e3e3e;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border-color: black;
    padding: 0.75rem 0;
    cursor: pointer;
}

section:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 1);
}



